@model IEnumerable<WebPayroll.Models.Company>


@{
    ViewData["Title"] = "Company";
}

<div class="header">
    <div class="left">
        <h1>Company</h1>
        <ul class="breadcrumb">
            <li><a href="#">Analytics</a></li> /
            <li><a href="#" class="active">Shop</a></li>
        </ul>
    </div>
</div>

<!-- Insights -->
<ul class="insights">
    <li>
        <i class='bx bx-calendar-check'></i>
        <span class="info">
            <h3>1,074</h3>
            <p>Paid Order</p>
        </span>
    </li>
    <li><i class='bx bx-show-alt'></i>
        <span class="info">
            <h3>Total Pegawai
                @* @foreach (var company in Model)
                {
                    @(company.RekeningBank?.BankId)
                } *@
            </h3>
            <p>Pegawai</p>
        </span>
    </li>
    <li><i class='bx bx-line-chart'></i>
        <span class="info">
            <h3>999+ Payroll</h3>
            <p>History</p>
        </span>
    </li>
    <li><i class='bx bx-dollar-circle'></i>
        <span class="info">
            <h3>$
                @foreach (var company in Model)
                {
                    @(company.RekeningBank?.Saldo)
                }
            </h3>
            <p>Total Saldo</p>
        </span>
    </li>
</ul>
<!-- End of Insights -->

<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>Company List</h3>
            <i class='bx bx-filter'></i>
            <i class='bx bx-search'></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                    <tr>
                        <td>@company.CmpName</td>
                        <td>@company.PhoneNumber</td>
                        <td>@company.Email</td>
                        <td>@company.Address</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="orders-2">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>Department</h3>
            <i class='bx bx-filter'></i>
            <i class='bx bx-search'></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Departement Name</th>
                </tr>
            </thead>
            <tbody>
                @* @foreach (var company in Model)
                {
                    <tr>
                        <td>@company.CmpName</td>
                        <td>@company.PhoneNumber</td>
                        <td>@company.Email</td>
                        <td>@company.Address</td>
                    </tr>
                } *@
            </tbody>
        </table>
    </div>
    
</div>

<div class="bottom-data">
    
</div>

<div class="bottom-data">
    <div class="reminders">
        <div class="header">
            <i class='bx bx-note'></i>
            <h3>Lorem</h3>
            <i class='bx bx-filter'></i>
            <i class='bx bx-plus'></i>
        </div>
        <ul class="task-list">
            <li class="completed">
                <div class="task-title">
                    <i class='bx bx-check-circle'></i>
                    <p>Lorem Ipsum</p>
                </div>
                <i class='bx bx-dots-vertical-rounded'></i>
            </li>
            <li class="completed">
                <div class="task-title">
                    <i class='bx bx-check-circle'></i>
                    <p>Lorem Ipsum</p>
                </div>
                <i class='bx bx-dots-vertical-rounded'></i>
            </li>
            <li class="not-completed">
                <div class="task-title">
                    <i class='bx bx-x-circle'></i>
                    <p>Lorem Ipsum</p>
                </div>
                <i class='bx bx-dots-vertical-rounded'></i>
            </li>
        </ul>
    </div>
</div>
